##1. Simple range
Print the numbers from 0 to 4 using a `for` loop and `range()`.

In [ ]:
for i in range(0, 5):
  print(i)

0
1
2
3
4

##2. Range with a starting point
Simulate a countdown from 5 to 1. Print the numbers using a `for` loop with `range()`.

In [ ]:
for r in range(5, 0, -1):
  print(f"{r} minutes remaining...")
print("Time Up!")

5 minutes remaining...
4 minutes remaining...
3 minutes remaining...
2 minutes remaining...
1 minutes remaining...
Time Up!

##3. Range with step size
Print every other number from 1 to 10 (i.e., 1, 3, 5, ...).

In [ ]:
for i in range(1,11, 2):
  print(i)

1
3
5
7
9

In [ ]:
for i in range(0,11, 2):
  print(i)

0
2
4
6
8
10

##4. Iterating a list by index
You have a list of weekly expenses: `[5000, 4800, 5500]`. Use `range()` to loop through the
list by index and print each expense with its corresponding week number (e.g., "Week 1:
5000 INR").

In [ ]:
weekly_expenses = [5000, 4800, 5500]
sum = 0
print(f"Weekly Expenses Summary:")
for w in range(len(weekly_expenses)):
  print(f"Week {w+1}: {weekly_expenses[w]} INR")
  sum += weekly_expenses[w]
print(f"Total expenses: {sum} INR")

Weekly Expenses Summary:
Week 1: 5000 INR
Week 2: 4800 INR
Week 3: 5500 INR
Total expenses: 15300 INR

##5. Reverse range
Use `range()` to print numbers from 10 down to 1.

In [ ]:
for i in range(10, 0, -1):
  print(i)

10
9
8
7
6
5
4
3
2
1

##6. Summing numbers in a range
Calculate the sum of all numbers from 1 to 100. Print the result.

In [ ]:
sum = 0
for i in range(100):
  sum += i

print(sum)

4950

##7. Range and `if` condition
Print all even numbers from 2 to 20 using `range()` and an `if` condition.

In [ ]:
for i in range(2, 21):
  if i % 2 == 0:
    print(i)

2
4
6
8
10
12
14
16
18
20

##8. Looping to create a list
Create an empty list called `order_numbers`. Use a `for` loop and `range()` to add the first
5 order numbers (101, 102, 103, 104, 105) to this list.

In [ ]:
order_numbers = []
for i in range(101, 106):
  order_numbers.append(i)
print(order_numbers)

[101, 102, 103, 104, 105]

##9. Range with two lists
You have two lists: `products = ['Vanilla', 'Chocolate']` and `prices = [100, 110]`. Use
`range()` with the length of one of the lists to print each product and its price on a
separate line.

In [ ]:
products = ['Vanilla', 'Chocolate']
prices = [100, 110]
for i in range(len(products)):
  print(f"{products[i]}: {prices[i]:.2f} INR.")

Vanilla: 100.00 INR.
Chocolate: 110.00 INR.

##10. Negative step size with range
Print the odd numbers from 9 down to 1.

In [ ]:
for s in range(9,0,-1):
  if s % 2 != 0:
    print(s)

9
7
5
3
1

##11. Looping a fixed number of times for input
Ask the user to enter 3 new employee names. Use a `for` loop with `range()` to get the
names and store them in a list.

In [ ]:
employee_names=[]
for j in range(3):
  employee_names.append(input("Enter employee name: ").title())
print(f"The 3 new employees are: {employee_names}")

Enter employee name: sravanthi kanu
Enter employee name: madhu zairi
Enter employee name: pramod C
The 3 new employees are: ['Sravanthi Kanu', 'Madhu Zairi', 'Pramod C']

##12. Using `range` to populate a dictionary
Create a dictionary to hold daily sales targets for 5 days. Use a `for` loop with `range()` to
initialize the dictionary with keys `Day 1` through `Day 5` and a default value of `10000`
for each.

In [ ]:
daily_sales_targets = {}
for d in range(5):
  daily_sales_targets[f"Day {d+1}"] = 10000
print(f"Daily sales targets are as follows: {daily_sales_targets}")

Daily sales targets are as follows: {'Day 1': 10000, 'Day 2': 10000, 'Day 3': 10000, 'Day 4': 10000, 'Day 5': 10000}

##13. Finding a factorial using a loop and range
Calculate the factorial of 5 (5!) using a loop and `range()`. The factorial of 5 is '5 * 4 * 3 * 2* 1'. Print the result.

In [ ]:
prod = 1
fact_num = int(input("Enter the factorial number: "))
for i in range(fact_num, 0, -1):
  prod *= i
print(f"Factorial of {fact_num} is {prod}")

Enter the factorial number: 5
Factorial of 5 is 120

##14. Nested loops with range
Print a simple 3x3 grid of asterisks (`*`) using nested `for` loops and `range()`. The outer
loop should control rows, and the inner loop should control columns.

In [ ]:
for i in range(3):
  for j in range(3):
    print(f"*", end="")

  print()

***
***
***

##15. Range with a `while` loop
Use a `while` loop to print numbers from 0 to 4. Do not use a `for` loop for this problem.
This is a practice to show the flexibility of loop structures.

In [4]:
j= int(input("Enter the starting number: "))
while True:
    print(j)
    j += 1
    if j == 5:
      break

Enter the starting number: 0
0
1
2
3
4