<a href="https://colab.research.google.com/github/Shamitha018/Data-Structures-in-Python/blob/main/lambda_function_29_10_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
<fun name> = lambda <arg> : <expression>
<fun name> = lambda <arg1> <arg2> : <Expression>
<fun name> = lambda <arg> : <if out> <if cond> else <else_out>

In [ ]:
even_odd = lambda i : 'even' if i%2==0 else 'odd'
even_odd(21)

'odd'

two numbers, greater number

In [ ]:
<fun name> = lambda <arg> : <if out> <if cond> else <else out>

In [ ]:
greater_num = lambda n1,n2 : f'{n1} is greater than {n2}' if n1>n2 else f'{n2} is greater'
greater_num(100,200)

'200 is greater'

In [ ]:
grade = lambda n : f'A' if n>=75 \
else f'B' if n>= 60 \
else f'C'
grade(67)

'B'

In [ ]:
grade = lambda n : f'A' if n>=75
else f'B' if n>= 60
else f'C'
grade(67)

SyntaxError: expected 'else' after 'if' expression (ipython-input-958266279.py, line 1)

In [ ]:
grade = (lambda n : f'A' if n>=75 \
else f'B' if n>= 60 \
else f'C' )
grade(67)

'B'

case-4: usage of lists in lambda function

In [ ]:
l = ['hyd', 'Bengaluru', 'Pune', 'Mumbai']
[i.title() for i in l]

['Hyd', 'Bengaluru', 'Pune', 'Mumbai']

#argument: i
#expression: i.capitalize()
#lambda <arg> : <expression>

In [ ]:
lambda i : i.capitalize()

In [ ]:
l= ['hyd', 'Bengaluru', 'Pune', 'Mumbai']
(lambda i : i.capitalize(), l)

(<function __main__.<lambda>(i)>, ['hyd', 'Bengaluru', 'Pune', 'Mumbai'])

In [ ]:
lambda i : i.capitalize(), l
map(lambda i : i.capitalize(), l)

to print the result we use list

In [ ]:
list(map(lambda i : i.capitalize(), l))

['Hyd', 'Bengaluru', 'Pune', 'Mumbai']

['Hyd', 'Benga#luru', 'Pune', 'Mum#bai']

In [ ]:
l = ['Hyd', 'Benga#luru', 'Pune', 'Mum#bai']
for i in l:
  if '#' in i:
    print(i)

In [ ]:
list(map(lambda i: i, l if "#" in i else None))

TypeError: 'NoneType' object is not iterable

In [ ]:
l = ['Hyd', 'Benga#luru', 'Pune', 'Mum#bai']
lambda i : '#' in i
lambda i : '#' in i, l
map(lambda i : '#' in i, l)
list(map(lambda i : '#' in i, l))

[False, True, False, True]

FILTER

In [ ]:
list(filter(lambda i : '#' in i, l))

['Benga#luru', 'Mum#bai']

#wap to get square of element in list

In [ ]:
l1 = [1,2, 3, 4]
output = list(map(lambda i : i**2 , l1))
output

[1, 4, 9, 16]

wap to retrive only first letter of element

In [ ]:
l2 = ['Hyd', 'blr', 'chennai']
list(map(lambda i : i[0], l2))

['H', 'b', 'c']