# Lists: len(), append(), pop(), insert(), remove(), slicing

##1. Creating and finding length of a list
Create a list of ingredients `['Milk', 'Sugar', 'Cream']` and print its length.

In [17]:
grocery = ['Milk', 'Sugar', 'Cream']
print(f"Length of grocery list is {len(grocery)}.")

Length of grocery list is 3.

##2. Adding an item with `append()`
Add "Mango Pulp" to the end of the `ingredients` list from the previous problem and
print the updated list.

In [18]:
grocery.append("Mango Pulp")
print(f"The updated list is {grocery}")

The updated list is ['Milk', 'Sugar', 'Cream', 'Mango Pulp']

##3. Removing the last item with `pop()`
Remove the last item from the updated list using `pop()` and print the removed item as
well as the new list.

In [19]:
print(f"removing the last item from our list using pop:'{grocery.pop()}'")
print(f"The new list is {grocery}")

removing the last item from our list using pop:'Mango Pulp'
The new list is ['Milk', 'Sugar', 'Cream']

##4. Adding an item at a specific position with `insert()`
Insert "Vanilla Extract" at the second position (index 1) of the list `['Milk', 'Sugar', 'Cream']`
and print the new list.

In [20]:
grocery.insert(1, "Vanilla Extract")
print(f"The new list with inserted item is {grocery}")

The new list with inserted item is ['Milk', 'Vanilla Extract', 'Sugar', 'Cream']

##5. Removing a specific item with `remove()`
From the list `['Vanilla', 'Chocolate', 'Strawberry']`, remove the item "Chocolate" and print
the final list.

In [22]:
flavours = ['Vanilla', 'Chocolate', 'Strawberry']
flavours.remove("Chocolate")
print(f"final list after removing an item is : {flavours}")

final list after removing an item is : ['Vanilla', 'Strawberry']

##6. Forward slicing
You have a list of weekly sales data `[12000, 15000, 9000, 18000, 20000]`. Create a new list
containing only the sales from the first three days.

In [9]:
weekly_sales = [12000, 15000, 9000, 18000, 20000]
new_list = weekly_sales[:3]
print(new_list)

[12000, 15000, 9000]

##7. Backward slicing
From the same list of sales data, create a new list containing the sales from the last two
days using negative slicing.

In [13]:
back = weekly_sales[4:2:-1]
back

[20000, 18000]

##8. Slicing with a step
From a list of numbers `[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]`, create a new list containing every
other number starting from the first one.

In [14]:
l1 = list(range(10))
l2 = [x for x in l1 if x%2 != 0]
l2

[1, 3, 5, 7, 9]

In [21]:
l1 = list(range(1,11))
l2 = l1[::2]
l2

[1, 3, 5, 7, 9]

##9. Combining lists with `+`
You have a list of morning shift employees `['Priya', 'Rahul']` and an evening shift list
`['Anjali', 'Kunal']`. Create a single list of all employees.

In [24]:
n1 = ['Priya', 'Rahul']
n2 = ['Anjali', 'Kunal']
employees = n1 + n2
employees.sort()
print(f"List of all employees is {employees}")

List of all employees is ['Anjali', 'Kunal', 'Priya', 'Rahul']

##10. Counting occurrences of an item
You have a list of recent purchases `['Vanilla', 'Chocolate', 'Vanilla', 'Strawberry',
'Chocolate', 'Vanilla']`. Count how many times "Vanilla" was purchased.

In [25]:
rp = ['Vanilla', 'Chocolate', 'Vanilla', 'Strawberry', 'Chocolate', 'Vanilla']
count = 0
for i in rp:
  if i == "Vanilla":
    count += 1
print(count)

3

In [32]:
rp = ['Vanilla', 'Chocolate', 'Vanilla', 'Strawberry', 'Chocolate', 'Vanilla']
vanilla_list = [i for i in rp if i == "Vanilla"]
print(f"No. of times Vanilla appeared in Recent purchases is {len(vanilla_list)} times.")

No. of times Vanilla appeared in Recent purchases is 3 times.

##11. Finding the index of an item
In the list `['Milk', 'Sugar', 'Cream']`, find the index of "Sugar".

In [34]:
ingredients = ['Milk', 'Sugar', 'Cream']
ingredients.index('Sugar')

1

##12. Reversing a list with slicing
Reverse the order of the list `['Priya', 'Rahul', 'Anjali']` using slicing and print the new
reversed list.

In [35]:
names = ['Priya', 'Rahul', 'Anjali']
reversed = names[::-1]
print(f"Reversed list of names is {reversed}")

Reversed list of names is ['Anjali', 'Rahul', 'Priya']

##13. Checking for an item in a list
Check if the item "Mango" is present in the list of flavors `['Vanilla', 'Chocolate',
'Strawberry']` and print a message based on the result.

In [39]:
flavors = ['Vanilla', 'Chocolate', 'Strawberry']
search_item = input("Enter the flavour to search: ")
if search_item in flavors:
  print(f"{search_item} is present in {flavors}")
else:
  print(f"{search_item} is NOT present in {flavors}")

Enter the flavour to search: Mango
Mango is NOT present in ['Vanilla', 'Chocolate', 'Strawberry']

##14. Sorting a list
Sort the list of employee names `['Rahul', 'Priya', 'Anjali']` in alphabetical order. Print the
sorted list.

In [40]:
emp = ['Rahul', 'Priya', 'Anjali']
emp.sort()
print(f"New sorted list of employees is {emp}")

New sorted list of employees is ['Anjali', 'Priya', 'Rahul']

##15. A list of lists (2D list)
Create a list of lists to represent daily stock levels: `[[100, 80], [90, 75]]` where the first
number is stock of Item A and the second is Item B. Access and print the stock of Item A
on the second day.

In [45]:
daily_stocks = [[100, 80], [90, 75]]
print(f"Stocks on day 1 is {daily_stocks[0]}")
print(f"Stocks on day 2 is {daily_stocks[1]}")
print(f"Stock of item A on day 2 is {daily_stocks[1][0]}")

Stocks on day 1 is [100, 80]
Stocks on day 2 is [90, 75]
Stock of item A on day 2 is 90