<a href="https://colab.research.google.com/github/Shamitha018/Data-Structures-in-Python/blob/lists/O_24_10_2025_list_methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Different methods in a list

In [ ]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

'append', #adds an element  </br>
 'clear', #empties list </br>
 'copy', #copy one list into another</br>
 'count', #count of a particular element</br>
 'extend', #joining</br>
 'index', #returns index of an element</br>
 'insert', #inserts element at an index</br>
 'pop', #<> removes last element</br>
 'remove', #removes an element</br>
 'reverse', #reverse list</br>
 'sort'#sorts list</br>

clear()

In [ ]:
lis = [10, 20 , 30, 40, 50, "A", "B", "c", "d", "F"]
lis.clear()
lis

[]

copy()

In [ ]:
list1 = [10, 20 , 30, 40, 50, "A", "B", " C", "d", "F"]
list2 = list1.copy()
list2

[10, 20, 30, 40, 50, 'A', 'B', ' C', 'd', 'F']

In [ ]:
list1

[10, 20, 30, 40, 50, 'A', 'B', ' C', 'd', 'F']

count()

In [ ]:
oka_list = [1, 1,1 , 1,1,1,1,11,1,1,11,1,1,1,8,8]
oka_list.count(1)

12

extend()

In [ ]:
list1.extend(oka_list)
list1

[10,
 20,
 30,
 40,
 50,
 'A',
 'B',
 ' C',
 'd',
 'F',
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 11,
 1,
 1,
 11,
 1,
 1,
 1,
 8,
 8,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 11,
 1,
 1,
 11,
 1,
 1,
 1,
 8,
 8,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 11,
 1,
 1,
 11,
 1,
 1,
 1,
 8,
 8]

index

In [ ]:
l = [10, 20, 30 , 40, 50, 'A', 10, 'C', 'D', 10, 'F']
i1 = l.index(10)
i1

0

insert()

In [ ]:
l.insert(0, 'z')
l

['z', 10, 20, 30, 40, 50, 'A', 10, 'C', 'D', 10, 'F']

remove()

In [ ]:
l.remove('z')
l

[10, 20, 30, 40, 50, 'A', 10, 'C', 'D', 10, 'F']

In [ ]:
reversed(l)

In [ ]:
list(reversed(l))

['F', 10, 'D', 'C', 10, 'A', 50, 40, 30, 20, 10]

In [ ]:
l.reverse()

In [ ]:
l

['F', 10, 'D', 'C', 10, 'A', 50, 40, 30, 20, 10]

in place-

in place indicates the output or solution overrides in same variable/ object. </br>

in some methods, they mentioned in place = false. </br>
  -in this situation, the output will not override in same object
  -then make in_place = True in order to see the output

In [ ]:
l2 = [10, 89 , 289, 67, 78, 88, 56, 9]
j = sorted(l2, reverse = False)
j

[9, 10, 56, 67, 78, 88, 89, 289]

In [ ]:
l2  # in_place is not present in sorted method

[10, 89, 289, 67, 78, 88, 56, 9]

In [ ]:
l2.sort()
l2 #in_place is present in sort() method

[9, 10, 56, 67, 78, 88, 89, 289]

sort vs sorted
they both are different because of in_place

append
- append means to add an element at the last of a list
- append mainly used to store results in a list
- append is used 90% in use-cases

In [ ]:
fruits = ['Apple', 'Banana', 'Cherry']

In [ ]:
fruits.append('Dairy milk')
fruits

['Apple', 'Banana', 'Cherry', 'Dairy milk']

In [ ]:
for i in range(4):
  fruits.append(i)
fruits

['Apple', 'Banana', 'Cherry', 'Dairy milk', 0, 1, 2, 3]

#wap ask the user to get 5 random numbers
#print even or odd === save in a list

In [ ]:
import random
even =[]
odd = []
for i in range(5):
  num = random.randint(1, 100)
  if num % 2 == 0:
    even.append(i)
  else:
    odd.append(i)
print(even)
print(odd)

[2, 3, 4]
[0, 1]

title

In [ ]:
input=['hyd','bengaluru','mumbai','chennai']
output= []
for city in input:
  output.append(city.title())
output

['Hyd', 'Bengaluru', 'Mumbai', 'Chennai']

upper

In [ ]:
input=['hyd','bengaluru','mumbai','chennai']
output= []
for city in input:
  output.append(city.upper())
output

['HYD', 'BENGALURU', 'MUMBAI', 'CHENNAI']

#Question 3
input=['hyd','bengaluru','mum#bai','chen#nai'] </br>
output=['mum#bai','chen#nai']

In [ ]:
input=['hyd','bengaluru','mum#bai','chen#nai']
output = input[2:4]
output

['mum#bai', 'chen#nai']

#Question 4
Q4) input=['hyd','bengaluru','mum#bai','chen#nai'] </br>
output=['hyd','bengaluru']

In [ ]:
input=['hyd','bengaluru','mum#bai','chen#nai']
output = input[:2]
output

['hyd', 'bengaluru']

#Question 5
input=['hyd','bengaluru','mumbai','chennai'] </br>
multiply all indexes by 10

In [ ]:
input=['hyd','bengaluru','mumbai','chennai']
for i in range(len(input)):
  print(i * 10)

0
10
20
30

# Question 6
input=['hyd','bengaluru','mumbai','chennai'] </br>
sum of all indexes

In [ ]:
input=['hyd','bengaluru','mumbai','chennai']
sum = 0
for i in range(len(input)):
  sum += i
sum

6

#Question 7
Sum of first 10 Natural numbers

In [ ]:
sum = 0
for i in range(11):
  sum += i
sum

55