<a href="https://colab.research.google.com/github/Shamitha018/Data-Structures-in-Python/blob/lists/O_28_10_2025_List_comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
Input = [50, 60, 90]
['A' if i>= 90\
 else 'B' if i >= 60 \
 else 'C'\
 for i in Input]

['C', 'B', 'A']

#[<out> <for loop>]
#[<out> <for loop> <if>]

In [6]:
[sum+i for i in range(11)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

valrus operator

In [8]:
[sum := sum+i for i in range(11)][-1]

110

marks = [45, 76, 89, 53, 67, 90, 82, 49, 33, 99]
filter students who passed (marks > = 50)

In [13]:
marks = [45, 76, 89, 53, 67, 90, 82, 49, 33, 99]
passed= [marks[m] for m in range(len(marks)) if marks[m] >= 50]
passed

[76, 89, 53, 67, 90, 82, 99]

calculate grades of all students (a:85+, b:70-84, c:50-69, f:<50)

In [17]:
grades = ['A' if m > 85 \
          else 'B' if m in range(70,85) \
          else 'C' if m in range(50, 70) \
          else 'F' \
          for m in marks]
grades

['F', 'B', 'A', 'C', 'C', 'A', 'B', 'F', 'F', 'A']

In [22]:
grace = [m+5 if m<50 \
         else m \
         for m in marks ]
marks, grace

([45, 76, 89, 53, 67, 90, 82, 49, 33, 99],
 [50, 76, 89, 53, 67, 90, 82, 54, 38, 99])

top 3 scorers

In [25]:
print(max(marks))

99