<a href="https://colab.research.google.com/github/Shamitha018/Data-Structures-in-Python/blob/main/O_30_10_2025_zip_function_and_introduction_to_dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Keep calm and trust omkar sir class

zip

In [5]:
names = ['ram', 'suresh', 'mahesh']
age = [20, 22, 24, 18]

In [6]:
names, age

(['ram', 'suresh', 'mahesh'], [20, 22, 24, 18])

In [7]:
zip(names, age)

In [8]:
list(zip(names, age)) #if lists have same length then all are mapped, else extra element is missed

[('ram', 20), ('suresh', 22), ('mahesh', 24)]

In [10]:
for i, j in zip(names, age):
  print(i,j)

ram 20
suresh 22
mahesh 24

In [9]:
for i,j in zip(names, age):
  print(f'{i} age is {j}')

ram age is 20
suresh age is 22
mahesh age is 24

In [11]:
l1 = [10, 20, 30]
l2= ['A', 'B']
for i,j in zip(l1,l2):
  print(f'{j} value is {i}') #30 is left out, hence zips are useful for same length lists

A value is 10
B value is 20

In [19]:
l1 = [10, 20, 30, 40]
l2= [1,2,3,4,5]
l = []
if len(l1)>len(l2):
  for i in range(len(l1)):
    if i < len(l2):
      l.append(l1[i]+l2[i])
    else:
      l.append(l1[i])
else:
  for i in range(len(l2)):
    if i<len(l1):
      l.append(l1[i]+l2[i])
    else:
      l.append(l2[i])
l

[11, 22, 33, 44, 5]

zip gave idea to store values in dictionary

duplicate,

In [20]:
d = {'Ramesh': 20, 'Suresh':22, 'Mahesh': 24}
d

{'Ramesh': 20, 'Suresh': 22, 'Mahesh': 24}

In [21]:
d1 = {20: 'Ramesh', 22: 'Suresh', 24: 'Mahesh'}
d1

{20: 'Ramesh', 22: 'Suresh', 24: 'Mahesh'}

int key in dictionaries

In [23]:
d2_int_int = {20:1, 22:2, 24:3}
print(d2_int_int)
d2_int_float = {20:1.2, 22:2.222, 24:3.23}
print(d2_int_float)
d2_int_bool = {20:True, 22:False, 24:True}
print(d2_int_bool)
d2_int_str = {20: 'Ramesh', 22: 'Suresh', 24: 'Mahesh'}
print(d2_int_str)

{20: 1, 22: 2, 24: 3}
{20: 1.2, 22: 2.222, 24: 3.23}
{20: True, 22: False, 24: True}
{20: 'Ramesh', 22: 'Suresh', 24: 'Mahesh'}

float key

In [24]:
d2_float_int = {20.1:1, 22.2:2, 24.222:3}
print(d2_float_int)
d2_float_float = {20.2:1.2, 22.2:2.222, 24.22:3.23}
print(d2_float_float)
d2_int_bool = {20.2:True, 22.2:False, 24.2:True}
print(d2_int_bool)
d2_int_str = {20.2: 'Ramesh', 22.2: 'Suresh', 24.2: 'Mahesh'}
print(d2_int_str)

{20.1: 1, 22.2: 2, 24.222: 3}
{20.2: 1.2, 22.2: 2.222, 24.22: 3.23}
{20.2: True, 22.2: False, 24.2: True}
{20.2: 'Ramesh', 22.2: 'Suresh', 24.2: 'Mahesh'}

duplicate keys in dictionary: latest value will be considered

In [25]:
dict1 = {'RAMESH' : 20, 'RAMESH': 22}
dict1

{'RAMESH': 22}

same key and value- duplicate key and value - duplicates are not allowed only 1 orginal copy will be stored in dictionary

In [27]:
dict2 = {'RAMESH' : 20, 'RAMESH': 20}
dict2

{'RAMESH': 20}

In [28]:
dict3 = {'Suresh': 20, 'Ram': 20}
dict3

{'Suresh': 20, 'Ram': 20}

heterogenous values in dictionary

In [32]:
dict4 = {1:1, 2: 'Suresh', 'Suresh': False, False: True}
dict4

{1: 1, 2: 'Suresh', 'Suresh': False, False: True}

list in dictionary as value

In [33]:
dict5 = {'Names': ['RAM', 'SURESH', 'RAMESH']}
dict5

{'Names': ['RAM', 'SURESH', 'RAMESH']}

list as key in dictionary

In [34]:
dict6 = {['j', 'a', 'l']: [1,2,3]}
dict6 #list is mutable and unhashable

TypeError: unhashable type: 'list'

In [37]:
dict6 = {('j', 'a', 'l'): [1,2,3]}
dict6 #tuple is immutable and hashable

{('j', 'a', 'l'): [1, 2, 3]}