<a href="https://colab.research.google.com/github/Shamitha018/Data-Structures-in-Python/blob/main/O_31_10_2025_dictionaries_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Min , max, sum, reversed, sorted -

In [31]:
min(dict1), max(dict1)

(20, 24)

In [34]:
dict2 = {'Ramesh': 20, 'Suresh': 22, 'Mahesh':24}
min(dict2), max(dict2) #based on lexical order ==> LIFO

('Mahesh', 'Suresh')

In [3]:
dict1 = {20:'ramesh', 22:'Suresh', 24: 'Mahesh'}
list(reversed(dict1))

[24, 22, 20]

In [4]:
dict2 = {'Ramesh': 20, 'Suresh': 22, 'Mahesh':24}
list(reversed(dict2)) #reversed works based on order of keys===> 0,1,2 to 2,1,0

['Mahesh', 'Suresh', 'Ramesh']

In [5]:
dict2[0]

KeyError: 0

In [6]:
'ramesh':20

SyntaxError: illegal target for annotation (ipython-input-1701120956.py, line 1)

In [9]:
#we can extract only value by using key
dict2['Ramesh']

20

In [ ]:
dict2 = {'Ramesh': 20, 'Suresh': 22, 'Mahesh':24}
for i in dict2:

In [12]:
names = ['Ramesh', 'Suresh', 'Mahesh']
ages = [20, 22, 24]
d = {}
for i,j in zip(names, ages):
  d[i] = j
d

{'Ramesh': 20, 'Suresh': 22, 'Mahesh': 24}

In [15]:
numbers = [20, 21, 22]
d2= {}
for i in numbers:
  if i%2 == 0:
    d2[i] = 'even'
  else:
    d2[i] = 'odd'
d2

{20: 'even', 21: 'odd', 22: 'even'}

In [16]:
names = ['Ramesh', 'Suresh', 'Mahesh']
ages = [20, 22, 24]

{d[i] = j for i,j in zip(names, ages)}

SyntaxError: cannot assign to subscript here. Maybe you meant '==' instead of '='? (ipython-input-1040104624.py, line 4)

In [17]:
names = ['Ramesh', 'Suresh', 'Mahesh']
ages = [20, 22, 24]

{i:j for i,j in zip(names, ages)}

{'Ramesh': 20, 'Suresh': 22, 'Mahesh': 24}

In [22]:
numbers = [20, 21, 22]
d2= {}
for i in numbers:
  if i%2 == 0:
    d2[i] = 'even'
  else:
    d2[i] = 'odd'
d2

{i: 'even' if i%2==0 else 'odd' for i in numbers}

{20: 'even', 21: 'odd', 22: 'even'}

multi index

In [23]:
d = {'fruits': ['Apple', 'Banana', 'Cherry']}
d['fruits'][2]

'Cherry'

In [24]:
d = {'fruits':{'Apple':['Kashmir']}}
d['fruits']['Apple'][0]

'Kashmir'

In [25]:
d = {'fruits': [ {'Apple': ['green apple']}]}
d['fruits'][0]['Apple'][0]

'green apple'

In [27]:
d = {'fruits': [{'Apple': [{'kashmir':[{'India': ['Naresh IT']}]}]}]}
d['fruits'][0]['Apple'][0]['kashmir'][0]['India'][0]

'Naresh IT'

In [29]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
 'clear', #clears dictionary
 'copy', #copies dictionary
 'fromkeys',  #dictionary
 'get', #access
 'items', #keys and values are retrieved
 'keys', #only keys
 'pop', #delete
 'popitem', #delete
 'setdefault',#setting default values
 'update', # similar to l1.extend(l2) since d1+d2 fail
 'values' #only values