# Sets: len(), add(), remove(), pop(), union(), intersection(), difference()

##1. Creating and finding length of a set
Create a set of unique customer IDs `{'C101', 'C102', 'C103'}` and print its length.

In [25]:
customer_ids = {'C101', 'C102', 'C103'}
print(len(customer_ids))

3

##2. Adding an item with `add()`

To the `customer_ids` set, add a new ID 'C104' and print the set. Try adding 'C101' again
and observe the result.

In [26]:
customer_ids.add('C104')
print(customer_ids)

{'C104', 'C101', 'C103', 'C102'}

In [27]:
customer_ids.add('C101')
print(customer_ids) #duplicates are not allowed in sets

{'C104', 'C101', 'C103', 'C102'}

##3. Removing an item with `remove()`
Remove the ID 'C102' from the set and print the result. What happens if you try to
remove an ID that isn't in the set?

In [28]:
customer_ids.remove("C102")
print(customer_ids)

{'C104', 'C101', 'C103'}

In [29]:
customer_ids.remove(input("Enter a customer ID to remove from our set: "))
print(customer_ids)

Enter a customer ID to remove from our set: C78

KeyError: 'C78'

In [30]:
try:
  customer_ids.remove(input("Enter a customer ID to remove from our set: "))
  print(customer_ids)
except KeyError as ke:
  print("Enter a key(item) that is present in the set.")

Enter a customer ID to remove from our set: `C101
{'C104', 'C103'}

##4. Removing a random item with `pop()`
From the set `{'Vanilla', 'Chocolate', 'Strawberry'}`, use `pop()` to remove an item and print
the removed item and the new set. Note that sets are unordered.

In [32]:
fl_set = {'Vanilla', 'Chocolate', 'Strawberry'}
a= fl_set.pop()
print(f"Removed item is {a}")
print(fl_set)

Removed item is Strawberry
{'Vanilla', 'Chocolate'}

##5. Union of two sets
You have a list of morning shift employees `set_morning_shift = {'Priya', 'Rahul'}` and
evening shift employees `set_evening_shift = {'Anjali', 'Rahul'}`. Find and print the set of
all unique employees.

In [1]:
set_morning_shift = {'Priya', 'Rahul'}
set_evening_shift = {'Anjali', 'Rahul'}
all_employees = set_morning_shift.union(set_evening_shift)
all_employees

{'Anjali', 'Priya', 'Rahul'}

##6. Intersection of two sets
From the same two sets, find and print the names of employees who work both shifts.

In [2]:
set_morning_shift.intersection(set_evening_shift)

{'Rahul'}

##7. Difference of two sets
Find and print the names of employees who work only the morning shift, not the evening
shift.

In [3]:
print(f"employees in morning shift but NOT in evening shift : {set_morning_shift.difference(set_evening_shift)}")

employees in morning shift but NOT in evening shift : {'Priya'}

##8. Checking for a subset
You have a set of available toppings `{'Sprinkles', 'Nuts', 'Chocolate Sauce'}` and a
customer's requested toppings `{'Nuts', 'Sprinkles'}`. Check if the customer's request is a
subset of the available toppings and print `True` or `False`.

In [6]:
topping = {'Sprinkles', 'Nuts', 'Chocolate Sauce'}
check = {'Nuts', 'Sprinkles'}.issubset(topping)
print(f"customer's request is doable" if check else "not doable")

customer's request is doable

##9. Using a set to find unique items in a list
You have a list of all sales `['Vanilla', 'Chocolate', 'Vanilla', 'Strawberry', 'Chocolate']`. Find
all the unique flavors that were sold. Print the result as a list.

In [7]:
all_sales_list = ['Vanilla', 'Chocolate', 'Vanilla', 'Strawberry', 'Chocolate']
all_sales_set = set(all_sales_list)
print(f"list of all uniques flavors that were sold: {list(all_sales_set)}")

list of all uniques flavors that were sold: ['Strawberry', 'Vanilla', 'Chocolate']

##10. Clearing a set
Empty the set of available toppings from the previous problem and print the empty set.

In [11]:
topping = {'Sprinkles', 'Nuts', 'Chocolate Sauce'}
while topping:
  topping.pop()
print(topping)

set()