# tuple creation

In [ ]:
empty = ()
print(empty, type(empty))

() <class 'tuple'>

In [ ]:
DOB = tuple(input("Enter your Date of Birth in  dd/mm/yyyy format: ").split(" "))
DOB

Enter your Date of Birth in  dd/mm/yyyy format: 24 04 1999

('24', '04', '1999')

In [ ]:
names = ("shamitha",)
print(type(names), names)

<class 'tuple'> ('shamitha',)

# list to tuple

In [ ]:
DOb = list(DOB)
print(f"type of DOb is {type(DOb)}")
Date_of_Birth = tuple(DOb)
print(type(Date_of_Birth))

type of DOb is <class 'list'>
<class 'tuple'>

# String to tuple

In [ ]:
grocery = input("Enter your grocery list items with space: ") #string
gt= tuple(grocery.split(" ")) #tupling a list of string
print(gt, type(gt))

Enter your grocery list items with space: almonds sprite coke fanta bedsheets
('almonds', 'sprite', 'coke', 'fanta', 'bedsheets') <class 'tuple'>

# creation of tuples with variables

In [3]:
x = 0.9
y = 10
cords = (x, y)
cords

(0.9, 10)

# nested tuples

In [4]:
matrix_in_tuple = (cords, (9, 10))
matrix_in_tuple

((0.9, 10), (9, 10))

# tuple immutability

In [5]:
matrix_in_tuple[0][1] #indexable

10

In [6]:
matrix_in_tuple[0][1] = 10 # but not mutable

TypeError: 'tuple' object does not support item assignment

In [19]:
numerics = (10, 8.9, 1, 0, [8,9,8]) #although an unhashable type has accepted hashable object, the hashable object shall now become unhashable

In [16]:
numerics[4] = [9,9,9] #i.e., one can not reassign values in list in tuple

TypeError: 'tuple' object does not support item assignment

In [20]:
#but we can append list of a tuple
numerics[4].append(9) #cant modify what's already defined is immutability in tuples
print(numerics)

(10, 8.9, 1, 0, [8, 9, 8, 9])

# Count vs len in tuples:
count is used to count the frequencies of an item in the tuple </br>
len is used to count the no. of items in the tuple

In [25]:
tp = (9, "IOS", "Safebios", "Chip", 9, 256, 13, "MACROHARD", "Chip", "Dell", "chip", "Chip")
tp.count(9)

2

In [26]:
len(tp)

12

In [28]:
#index() returns first occurence index of given item in function
tp.index("Chip", 4, 12) # index in slice of a tuple

8

# forward and backward indexing in tuples

In [29]:
tp[0] #first element

9

In [31]:
tp[-len(tp)] #backward indexing

9

In [30]:
tp[-1] #last element

'Chip'

In [33]:
tp[len(tp)-1]

'Chip'

In [35]:
tp[::-1]

('Chip',
 'chip',
 'Dell',
 'Chip',
 'MACROHARD',
 13,
 256,
 9,
 'Chip',
 'Safebios',
 'IOS',
 9)

#Problem 1: Tuple Creation & Basic Access:
1. Create a tuple named `book_details` with the following information: "The Hitchhiker's Guide to the Galaxy",
"Douglas Adams", 1979, "Science Fiction". Print the tuple.
2. Print the title of the book and the publication year from `book_details` using indexing.
3. Create a single-element tuple containing only the string "Solo". Print it and its type to verify it's a tuple.

In [37]:
book_details = ("The Hitchhiker's Guide to the Galaxy", "Douglas Adams", 1979, "Science Fiction")
print(f"Title of the book is '{book_details[0]}' and year of publication is '{book_details[2]}'.")

Title of the book is 'The Hitchhiker's Guide to the Galaxy' and year of publication is '1979'.

In [38]:
sin = ("Solo",)
print(sin, type(sin))

('Solo',) <class 'tuple'>

# 2. Problem 2: Tuple Immutability:
1. Given `rgb_color_code = (255, 0, 128)`. Try to change the green component to `50` (i.e., `rgb_color_code[1] = 50`).
What error do you get? Explain why.
2. Create a tuple `complex_tuple = ([1, 2], "mutable", (3, 4))`. Try to append `3` to the inner list `[1, 2]` (i.e.,
`complex_tuple[0].append(3)`). Does this work? Explain why or why not, relating it to mutability.

In [39]:
rgb_color_code = (255, 0, 128)
rgb_color_code[0] = 50 #tuple does not support re-assignments

TypeError: 'tuple' object does not support item assignment

In [41]:
complex_tuple = ([1, 2], "mutable", (3, 4))
complex_tuple[0].append(3)
complex_tuple

([1, 2, 3], 'mutable', (3, 4))

tuple is immutable
but the elements of tuple can be mutable like list and hence appending is possible but not reassigning.

objects in tuple once created cant be assigned again

# Problem 3: Tuple Methods & Slicing:
1. You have a tuple of daily temperatures: `temperatures = (25, 27, 25, 29, 28, 27, 30)`.
2. Count how many times `27` appears in the `temperatures` tuple.
3. Find the index of the first occurrence of `25`.
4. Find the length of the `temperatures` tuple.
5. Extract a slice containing temperatures from the 3rd day to the 5th day (inclusive) using forward slicing.
6. Extract the last two temperatures using backward slicing.

In [42]:
temperatures = (25, 27, 25, 29, 28, 27, 30)
temperatures.count(27)

2

In [43]:
temperatures.index(25)

0

In [44]:
len(temperatures)

7

In [46]:
temperatures[2:5]

(25, 29, 28)

In [56]:
temperatures[len(temperatures)-1: len(temperatures)-3: -1]

(30, 27)